<!-- picture & name, star -->
<div class="page-header" id="banner">
<div class="row">
<div class="col-lg-4">
<div class="sponsor">
<br>
<a href="<%= edit_user_path(@user) %>">
<img src="<%= @user.avatar %>" alt="UserAvatar" width="240" height="240">
</a>
</div>
</div>
<div class="col-lg-8">
<h1><%= @user.name %></h1>
<h3>いいねの数:<%= good_count(@user) %>件</h3>
</div>
</div>
</div>


<!-- 投稿履歴とプロフィール文 -->
<div class="bs-docs-section">
<div class="row">
<div class="col-lg-6">
<div class="page-header">
<h1 id="typography">エラー詳細投稿履歴</h1>
</div>
<div class="bs-component">
<% if @user.solutions.count == 0 %>
<p>まだ投稿がありません。評価を上げるために、
積極的に投稿しましょう！</p>
<% else %>
<% @user.solutions.each do |solution| %>
<div class="panel panel-default">
<a href="<%= error_message_path(solution.error_message) %>">
<div class="panel-body">
<%= solution.error_message.error_code %>
</div>
</a>
</div>
<% end %>
<% end %>
<a href="<%= new_error_message_path %>" class="btn btn-primary">投稿する</a>
</div>
</div>




<div class="col-lg-6">
<div class="page-header">
<h1 id="typography">クリップ一覧</h1>                     
</div>
<div class="bs-component">
<div class="panel panel-default">
<% @clips.each do |clip| %>
<div class="panel-body">
<a href="<%= error_message_path(clip.error_message) %>"><%= clip.error_message.error_code %></a>
</div>                  
<% end %>

</div>
</div>
</div>

<div class="col-lg-6">
<div class="page-header">
<h1 id="typography">プロフィール詳細</h1>

</div>
<div class="bs-component">
<blockquote>
<p><%= @user.message %></p>
</blockquote>
<% if urls(@user).present? %>
<% urls(@user).each do |url| %>
<blockquote>
<a href="<%= url %>"><%= url %></a>
</blockquote>
<% end %>
<% end %>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/js/custom.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>