<div class="navbar navbar-default navbar-fixed-top" style="height: 70px">
      <div class="container">
        <div class="navbar-header col-md-3">
          <a href="/" class="navbar-brand">INSTANT FIX</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
        <%= form_tag('/search', method: :get, html: {class: "navbar-form navbar-nav"}) do %>
        <div class="col-md-4">
          <div class="form-group">
        <input placeholder="エラーコードを入力してください" type="text", name="keyword" class="form-control" size="40">
          </div>
        </div>
        <div class="col-md-1">
        <input type="submit" value="検索" class="btn btn-default" style="float:right;">
        </div>
      <% end %>
      <div class="col-md-4">
          <ul class="nav navbar-nav navbar-right" style="float: right;">
                  <% if user_signed_in? %>
          <li><%= link_to "マイページへ", user_path(current_user) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete  %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "アカウント登録", new_user_registration_path %></li>
        <% end %>
          </ul>
      </div>

        </div>
      </div>
    </div>
