<div>
	<%= f.label :title, "Title" %>
	<%= f.text_field :title %>
	<%= f.label :detail, "概要" %>
	<%= f.text_area :detail %>
	<%= f.label :error_code, "エラーコード" %>
	<%= f.text_area :error_code %>
	<%= f.submit "送信" %>
</div>